/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

p {
  clear: both;
}
h1,
h2,
h3 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 3rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0, 0.8);
  margin: 12px 0 0;
}

h2 {
  font-size: 2em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  display: block;
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

h4 {
  margin: 20px 0px;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 30px 0;
}

li {
  padding: 5px;
}

/* Pseudo-classes ------------------ */

.nav-section a:link {
  color: #666;
  text-decoration: none;
  display: block;
}

.nav-section a:visited {
  color: #666;
  display: block;
}

.nav-section a:hover {
  color: #666;
  display: block;
}

.nav-section a.selected {
  color: #fff;
  display: block;
}

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 169, 73);
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

li:hover {
  display: block;
  background-color: #e6e6e6;
  color: #fff;
 
}

li.selected {
  display: block;
  background-color: #cc3300 !important;
}
/* Main Styles --------------------- */

.nav-section {
  width: 25%;
  position: fixed;
  left: 0px;
  height: 100vh;
  display: inline-block;
  list-style-type: none;
  padding-left:0px !important;
  padding-top: 0px;
  margin: 0;
  background-color: white !important;
  overflow: auto;
  border-right: 7px solid #e6e6e6;

}

.nav-section-secondary {
  width: 100%;
  display: block;
  list-style-type: none;
  padding-left:30px;
  padding-top: 0px;
  margin: 0;
  background-color: white !important;

}

.selected-secondary {
  background-color: #c30;
}

.selected-secondary a {
  color: #fff;
}


.primary-content {
  width: 75%;
  display: block;
  padding: 16px;
  background-color: #f2f2f2;
  margin-left: 25%;
}

.main-header {
  width: 200px;
  height: 200px;
  background: #ffa949 url('../img/profile.jpg') no-repeat;
  background-size: contain;
  min-height: 100%;
  background-size: cover;
}

/* Functions */
/*Clases that are used throughout to preform basic functions to elements*/
.right {
  float: right;
}

.thumb {
  width: 30px;
  vertical-align: middle;
}

.space-b {
  margin-bottom: 20px !important;
}
/*makes a space between buttons or images*/

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.radial {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.center-b {
  margin: auto;
  text-align: center;
}
.radial-b {
  border-radius: 1px;
}

.circle {
  border-radius: 50%;
  width: 50%;
}

.nav:not(first-child) {
  margin-left: 10px;

}

.t-border {
  border-top: 2px solid #dfe2e6;
}

.border-b {
  border-bottom: 2px solid #dfe2e6;
}

/*Media Queries*/
@media (max-width: 1024px) {
  .nav-section-secondary {
    padding: 0;
    margin: 0;
    border-left: 7px solid #e6e6e6;
  }

}

@media (max-width: 768px) {
  
  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 1.5rem;
  }
  
}

/*Pseudo Classes*/


