/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  clear: both;
}
h1,
h2,
h3 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 3rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

h2 {
  font-size: 2em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  display: block;
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

h4 {
  margin: 20px 0px;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 169, 73);
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */
.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.contact {
  list-style: none;
  padding: 0;
}


.main-header {
  padding-top: 170px;
  height: 75vh;
  background: /*linear-gradient(#ff0, transparent 90%),*/
              linear-gradient(0deg, #fff, transparent 2%),
              #ffa949 url('../img/header.jpg') no-repeat center;
  min-height: 50%;
  background-size: cover;

}
.filter {
  list-style-type: none;
  margin: 0 20%;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  height: 52px;
}

.filter li {
    float: left;
    width:33%;

}

.filter form {
    display: inline;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, #333, transparent);
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    
}

.nav-section,
.filter input:hover {
    background-color: #111;
}

.nav-section li {
    float: left;
}

.first-strike::before {
  content: "First Strike";
  display: block;
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin: auto;
  margin-bottom: 1.7em;
  margin-top: 1.7em; /* 34px */
  border-bottom: 2px solid #dfe2e6;
  width: 60%;
}

.second-strike::before {
  content: "Second Strike";
  display: block;
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin: auto;
  margin-bottom: 1.7em;
  padding-top: 1.7em; /* 34px */
  border-bottom: 2px solid #dfe2e6;
  width: 60%;
  clear: both;
}

.third-strike::before {
  content: "Third Strike";
  display: block;
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin: auto;
  margin-bottom: 1.7em;
  padding-top: 1.7em; /* 34px */
  border-bottom: 2px solid #dfe2e6;
  width: 60%;
  clear: both;
}

.nav-section a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sub-title {
  padding-left: 20%;
}

.primary-content div {
  width: 33%;
  height: 200px;
  padding: 20px;
  float: left;
  display: inline-block;
}

.primary-content img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.primary-content div:not(:nth-child(3n+3)){
  border-right: 2px dashed rgba(128,128,128, 0.5);
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

footer p {
  font-size: .75em;
}

.block-a,
.block-b {
  width: 46.5%;
}

.block-a {
  float: left;
}

.block-b {
  float: right;
}

/* Functions */
/*Clases that are used throughout to preform basic functions to elements*/
.right {
  float: right;
}

.thumb {
  width: 30px;
  vertical-align: middle;
}

.space-b {
  margin-bottom: 20px !important;
}
/*makes a space between buttons or images*/

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.radial {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.center-b {
  margin: auto;
  text-align: center;
}
.radial-b {
  border-radius: 1px;
}

.circle {
  border-radius: 50%;
  width: 50%;
}

.nav:not(first-child) {
  margin-left: 10px;

}

.t-border {
  border-top: 2px solid #dfe2e6;
}

.border-b {
  border-bottom: 2px solid #dfe2e6;
}

/*Media Queries*/
@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }

}

@media (max-width: 768px) {
  .nav-selcetion li a {
    font-size: .6em;
  }
  


  .primary-content div {
    width: 100%;
    border-right: none !important;
    padding: 20px;
    float: left;
    display: inline-block;
  }
  
  .primary-content,
  footer,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border-top: none;
  }

  .main-header {
    max-height: 100vh;
    padding: 50px 25px 0;
  }
  .title {
    font-size: 1.5rem;
    border: none;
  }
  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 1.5rem;
  }
  .arrow {
    width: 50px;
  }
  .intro {
    font-size: 1rem;
  }
  .block-a,
  .block-b {
    float: none;
    width: 100%;
  }
  .b
  .main-footer {
    padding: 20px 0;
  }
}

/*Pseudo Classes*/
.primary-content div::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
} /*This insures that the gallery images are vertically aligned*/


